.btn{
    width: 190px;
    margin: 50px auto;
}
.ancor{
  text-decoration: none;
  font-size: 30px;
  background-color:blueviolet;
  padding: 10px 20px;
  color:white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
 
}
.ancor::before{
   content: '';
   height: 0;
   width: 0;
   background-color: red;
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 5px;
   transition: .4s ease-in-out;
   z-index: -1;
   
   visibility: hidden;
}
.ancor:hover::before{
   height: 100%;
   width: 100%;
   transform: rotate(0);
   visibility: visible;
   top: 0;
   left: 0;
}


/* button no 2 */
.btn1{
    width: 190px;
    margin: 50px auto;
}
.ancor1{
  text-decoration: none;
  font-size: 30px;
  background-color:blueviolet;
  padding: 10px 20px;
  color:white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
 
}
.ancor1::before{
   content: '';
   height:100%;
   width: 0;
   background-color: red;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 5px;
   transition: .4s ease-in-out;
   z-index: -1;
   
   visibility: hidden;
}
.ancor1:hover::before{
  
   width: 100%;
  
   visibility: visible;
  
}

/* button no 3 */

.btn2{
    width: 190px;
    margin: 50px auto;
}
.ancor2{
  text-decoration: none;
  font-size: 30px;
  background-color:blueviolet;
  padding: 10px 20px;
  color:white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
 
}
.ancor2::before{
   content: '';
   height: 0;
   width: 0;
   background-color: red;
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 5px;
   transition: .4s ease-in-out;
   z-index: -1;
   transform: rotate(360deg);
   visibility: hidden;
}
.ancor2:hover::before{
   height: 100%;
   width: 100%;
   transform: rotate(0);
   visibility: visible;
   top: 0;
   left: 0;
}

/* button no 4 */

.btn3{
    width: 190px;
    margin: 50px auto;
}
.ancor3{
  text-decoration: none;
  font-size: 30px;
  background-color:blueviolet;
  padding: 10px 20px;
  color:white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
 
}
.ancor3::before{
   content: '';
   height: 0;
   width: 0;
   background-color: red;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 5px;
   transition: .4s ease-in-out;
   z-index: -1;
   
   visibility: hidden;
}
.ancor3:hover::before{
   height: 100%;
   width: 100%;
 
   visibility: visible;
 
}

/* button no 4 */

.btn4{
    width: 190px;
    margin: 50px auto;
}
.ancor4{
  text-decoration: none;
  font-size: 30px;
  background-color:blueviolet;
  padding: 10px 20px;
  color:white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
 
}
.ancor4::before{
   content: '';
   height: 0;
   width: 0;
   background-color: red;
   position: absolute;
   top: 0;
   left: 50%;
   border-radius: 5px;
   transition: .4s ease-in-out;
   z-index: -1;
   
   visibility: hidden;
}
.ancor4:hover::before{
   height: 100%;
   width: 100%;
   transform: rotate(0);
   visibility: visible;
   top: 0;
   left: 0;
4